<!DOCTYPE html>
{% load static %}{% load mptt_tags %}
<html lang="cs">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="all,follow">
    <meta name="author" content="Viktor Michálek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="home" href="http://www.viki11.xf.cz/">
    <link rel="bookmark" title="vimův blog" href="http://www.viki11.xf.cz/"> -->
    <link rel="shortcut icon" href="{% static 'blog/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <title>vimův blog</title>
  </head>
  <body>
    <div id="obrazovka">
      <div id="okno">
        <div id="hlavicka">
          <!-- Sekce pro logo a menu -->
          <a href="{% url 'home' %}"><img src="{% static 'blog/logo.png' %}" alt="Logo"></a>
          <nav id="nav">
            <ul>
              <li{% if '/about/' not in request.path %} id="active"{% endif %}><a href="{% url 'home' %}">Blog</a></li>
              <li{% if '/about/' in request.path %} id="active"{% endif %}><a href="{% url 'about' %}">O mně</a></li>
            </ul>
          </nav>
        </div>
        <div id="zakladni">
          <div id="pravy">
            <div class="boxik">
              <fieldset><legend>Rubriky</legend>
                <div class="prave_menu">
                  <ul>{% recursetree categories %}
                    <li><a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                      {% if not node.is_leaf_node %}<ul>{{ children }}
                      </ul>{% endif %}
                    </li>{% endrecursetree %}
                  </ul>
                </div>
              </fieldset>
            </div>
          </div>
          <div id="stredni">
            <div class="boxik">
              {% block content %}
              <!-- Content Goes here -->
              {% endblock content %}
            </div>
          </div>
        </div>
        <br>
        <div class="patka">
          <div class="boxik">
            <p class="copyr">
              2022 - {% now 'Y' %} vim
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>