{% extends "blog/base.html" %}
{% block content %}
{% if 'category' in request.path %}              <p>
                {% if post_list.0.category %}<b>Výpis rubriky: </b>{{ post_list.0.category }}{% else %}Rubrika je prázdná{% endif %}
              </p>{% endif %}
  {% for post in post_list %}
              <br>
              <div class="clanek">
                <div class="nazev"><a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a></div>
                <div class="datum">{{ post.publish }}</div>
                <div class="text">
                    {{post.content|safe|slice:":400" }}<a href="{% url 'post_detail' post.slug  %}">... více</a>
                </div>
                <div class="rubrika"><b>Rubrika:</b> <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a></div>
                <div class="autor"><b>Autor:</b> {{ post.author }}</div>
              </div>
  {% endfor %}{% if is_paginated %}
              <p class="strankovani">
                {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">&laquo; Novější příspěvky</a>{% endif %}
                {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}"> Starší příspěvky &raquo;</a>{% endif %}
              </p>{% endif %}
{%endblock%}