{% extends 'blog/base.html' %} {% block content %}
              <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
              <p>{{ post.author }} | {{ post.publish }}</p>
              {{ post.content | safe }}
              {% if comments %}<hr><fieldset><legend>Komentáře</legend>{% for comment in comments %}
              <div class="clanek">
                <div class="nazev">{{ comment.name }}</div>
                <div class="datum">{{ comment.created }}</div>
                <div class="text">
                    {{comment.content}}
                </div>
              </div>
              {% endfor %}</fieldset>{% endif %}
              {% if post.add_comments %}<hr><fieldset><legend>Vložit komentář</legend>
                <form method='POST'>
                {% csrf_token %}
                  <label>Captcha:<br>{{ form.captcha }}</label><br>
                  <label>{{ form.name.label_tag }}<br>
                    <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}" id="id_name"
                      name="name" value="{{ form.name.value|default:'' }}">
                  </label><br>
                  <label>{{ form.email.label_tag }} <small>(Your email address will not be published)</small><br>
                    <input type="text" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="id_email"
                      name="email" value="{{ form.email.value|default:'' }}">
                  </label><br>
                  <label>{{ form.content.label_tag }}<br>
                    <textarea class="form-control {% if form.content.errors %}is-invalid{% endif %}" id="id_content"
                      name="content" rows="4">{{ form.content.value|default:'' }}</textarea>
                  </label><br>
                  <button type="submit">Vložit</button>
                </form>
              </fieldset>{% endif %}
    {# {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %} #}
{% endblock content %}
